@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&family=Mukta+Vaani&family=Raleway:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  background-color: #faf2ea;
  color: #137c8b;
}

.animation {
  /* -webkit-animation: colorchange 20s backwards;
  -moz-animation: colorchange 20s infinite;
  -o-animation: colorchange 20s infinite;
  -ms-animation: colorchange 20s infinite; */
  animation: colorchange 3s forwards;
}

@keyframes colorchange {
  0% {
    color: #b39188;
  }
  17% {
    color: #ccaea4;
  }
  34% {
    color: #1abc9c;
  }
  51% {
    color: #d35400;
  }
  68% {
    color: #392e2c;
  }
  85% {
    color: #b99d80;
  }
  100% {
    color: #226d68;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-moz-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #226d68;
}
